.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    /* justify-self: center; */
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: cornflowerblue;
    color: azure;
    border: none;
    border-radius: 0.3rem;
}

input{
    border: 1px solid cornflowerblue;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

h1{
    color: cornflowerblue;
}